/Assembly-CSharp.csproj
/tool_client.csproj
/tool_client.sln
/Unity.Analytics.DataPrivacy.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.PackageManagerUI.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Library
/Logs
/obj
/Packages
/.vs
